/* Общий стиль */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #ffffff;
  text-align: center;
}

/* Контейнер для кнопок */
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
  background-color: #1f1f1f;
  border-bottom: 1px solid #333;
}

/* Стиль кнопок */
.buttons button {
  margin: 10px;
  padding: 12px 25px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: #2e2e2e;
  color: #ffffff;
  transition: all 0.3s;
}

.buttons button:hover {
  background-color: #444;
  color: #ffcc00;
  border-color: #ffcc00;
}

/* Контейнер для изображения */
.image-container {

  position: relative;
  padding: 20px;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Скрытые изображения */
.image-container img {
  max-width: 100%;
  height: auto;
  display: none;

}

/* Активное изображение */
.image-container img.active {
  display: block;
}

/* Холст для рисования огня */
.fire-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* Стиль для формы ввода */
.settings-form {
  background-color: #1f1f1f;
  padding: 20px;
  border: 1px solid #333;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings-form input {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #333;
  width: 150px;
  background-color: #2e2e2e;
  color: #fff;
}

.settings-form label {
  color: #fff;
}
/**/

.donermenu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 100px;
    z-index: 10;
}

.donermenu a {
    padding: 30px 15px;
    text-decoration: none;
    font-size: 24px;
    color: white;
    display: block;
    transition: 0.3s;
    position: relative;
}

.donermenu a:hover {
    background-color: #575757;
}

.close-btn {
    position: absolute;
    bottom: 100px;
    left: 180px;
    color: white;
    font-size:50px;
    text-decoration: none;
    cursor: pointer;
    z-index: 15;
}


.open {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    border: none;
    padding: 10px 20px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 5;
    transition: 0.3s;
}

.popup {
    position: absolute;
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 21px;
    white-space: normal;
    word-wrap: break-word;
    z-index: 20;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    max-width: 250px;
}



.popup.hidden {
    display: none;
}
